<!DOCTYPE html>
<html>
  <head>
    <title>Loot Splitter</title>

    <!-- <link rel="shortcut icon" href="favicon.ico" /> -->
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bootflat/css/bootflat.min.css">
    <link rel="stylesheet" type="text/css" href="lootsplitter.css">

  </head>

  <body>

    <div id="splitterapp">
      fleet: {{ fleetRepr }}
      <br>
      newFleetMember: {{ newFleetMember }}
      <!-- <br>
      evepraisals: {{ evepraisalsRepr }} -->
      <br>
      newEvepraisal: {{ newEvepraisal }}
      <br>
      totalShares: {{ totalShares }}
      <br>
      buyPrice: {{ buyPrice }}
      <br>
      sellPrice: {{ sellPrice }}
      <br>
      avgPrice: {{ avgPrice }}
      <br>

      <hr>

      <h1>Loot Splitter</h1>
      
      <h2>Evepraisal Links</h2>
      big: <input readonly value="http://evepraisal.com/e/11993877"></input>
      <br>
      small: <input readonly value="http://evepraisal.com/e/12000787"></input>
      <br>
      <input autofocus placeholder="http://evepraisal.com/e/xxxxxxxx" v-model="newEvepraisal" @keyup.enter="addEvepraisal">

      <ul>
        <li v-for="evepraisal in evepraisals">
          <div class="">
            <label><a href="http://evepraisal.com/e/{{ evepraisal.id }}">http://evepraisal.com/e/{{ evepraisal.id }}</a> = {{ (evepraisal.totals.buy + evepraisal.totals.sell) / 2 }}</label>
            <button @click="removeEvepraisal(evepraisal)">Remove</button>
          </div>
        </li>
      </ul>
      
      <h2>Fleet Members</h2>
      <input autofocus placeholder="Name of fleet member" v-model="newFleetMember" @keyup.enter="addFleetMember">

      <ul>
        <li v-for="fleetMember in fleet" v-component="fleetMember">
          <div class="view">
            <label @dblclick="editFleetMember(fleetMember)">{{ fleetMember.name }} / Shares: {{ fleetMember.shares }} / Payout: {{ payout }}</label>
            <button @click="removeFleetMember(fleetMember)">Remove</button>
          </div>
        </li>
      </ul>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/0.9.3/vue-resource.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="store.js"></script> -->
    <script type="text/javascript" src="lootsplitter.js"></script>

  </body>
</html>
