<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Loot Splitter</title>

  <!-- <link rel="shortcut icon" href="favicon.ico" /> -->
  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="bootflat/css/bootflat.min.css">
  <link rel="stylesheet" type="text/css" href="lootsplitter.css">

</head>

<body class="container">

  <div id="splitterapp">

    <div class="row">
      <div class="col-lg-12">
        <h1>Loot Splitter</h1>
      </div>
    </div>



    <div class="row">

      <div class="col-lg-12">
        <h2>Input</h2>
      </div>

      <div class="col-lg-7">

        <h3>Values</h3>

        <div class="form-group">
          <label for="input-evepraisals">Input ISK amounts and Evepraisal links:</label>
          <textarea id="input-evepraisals" class="form-control" :placeholder="'Supports pasting multiple lines\nPress ENTER to submit'"
            autofocus v-model="newValue" @keyup.enter="addValue"></textarea>
        </div>
        <div class="form-group">
          <label>Demos:</label>
          <button class="btn btn-default" @click="demoAddValue('100000000')">100m</button>
          <button class="btn btn-default" @click="demoAddValue('1000000000')">1b</button>
          <button class="btn btn-default" @click="demoAddValue('https://evepraisal.com/a/jsne1')">Rolling Megathron</button>
          <button class="btn btn-default" @click="demoAddValue('https://evepraisal.com/a/jsndg')">Sisters Launcher</button>
        </div>

      </div>

      <div class="col-lg-4">

        <h3>Fleet</h3>

        <div class="form-group">
          <label for="fleet-member-input">Input fleet member names:</label>
          <textarea id="fleet-member-input" class="form-control" :placeholder="'Supports pasting multiple lines\nPress ENTER to submit'"
            autofocus v-model="newFleetMember" @keyup.enter="addFleetMember"></textarea>
        </div>
        <div class="form-group">
          <label>Demos:</label>
          <button class="btn btn-default" @click="demoAddFleetMember('Mussah Yacoub\nEgon Big\'Memes\nVega Onren\nReyni Allas-Rui')">Four
            Man Fleet</button>
        </div>
      </div>

    </div>


    <div class="row">

      <div v-if="iskAmounts.length + evepraisals.length + fleetSize" class="col-lg-12">
        <h2>Display</h2>
      </div>

      <div v-if="iskAmounts.length + evepraisals.length" class="col-lg-7">
        <div class="row">
          <div v-if="iskAmounts.length" class="col-lg-12">
            <h3>ISK</h3>
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th class="isk-header">Amount</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="iskAmount in iskAmounts">
                  <td></td>
                  <td class="isk"><span>{{ iskAmount | iskFormat }}</span></td>
                  <td class="table-button"><button class="btn btn-danger btn-xs" @click="removeIskAmount(iskAmount)">x</button></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>Totals:</th>
                  <th class="isk">{{ totalIskAmounts | iskFormat }}</th>
                  <th></th>
                </tr>
              </tfoot>
            </table>
          </div>

          <div v-if="evepraisals.length" class="col-lg-12">
            <h3>Evepraisals</h3>
            <table class="table">
              <thead>
                <tr>
                  <th>Link</th>
                  <th>Hub</th>
                  <th>Type</th>
                  <th class="isk-header">Buy</th>
                  <th class="isk-header">Sell</th>
                  <th class="isk-header">Average</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="evepraisal in evepraisals">
                  <td><a target="_blank" :href="`https://evepraisal.com/a/${evepraisal.id}`">{{ evepraisal.id }}</a></td>
                  <td>{{ evepraisal.market_name }}</td>
                  <td>{{ evepraisal.kind }}</td>
                  <td class="isk">{{ evepraisal.totals.buy | iskFormat }}</td>
                  <td class="isk">{{ evepraisal.totals.sell | iskFormat }}</td>
                  <td class="isk">{{ (evepraisal.totals.buy + evepraisal.totals.sell) / 2 | iskFormat }}</td>
                  <td class="table-button"><button class="btn btn-danger btn-xs" @click="removeEvepraisal(evepraisal)">x</button></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>Totals:</th>
                  <th></th>
                  <th></th>
                  <th class="isk">{{ totalEvepraisalsBuy | iskFormat }}</th>
                  <th class="isk">{{ totalEvepraisalsSell | iskFormat }}</th>
                  <th class="isk">{{ totalEvepraisalsAvg | iskFormat }}</th>
                  <th></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>

      <div class="col-lg-4" v-if="fleetSize">
        <h3>Fleet Members</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Share(s)</th>
              <th>Percent</th>
              <th class="isk-header">Payout</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(memberName, memberShares) in fleet | orderBy false">
              <td>{{ memberName }}</td>
              <td><input class="form-control" v-model="fleet[memberName]" debounce="500" value="{{ memberShares }}"></td>
              <td>{{ memberPercent(memberShares) | percent }}%</td>
              <td class="isk">{{ memberPayout(memberShares) | iskFormat }}</td>
              <td class="table-button"><button class="btn btn-danger btn-xs" @click="removeFleetMember(memberName)">x</button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>{{ fleetSize }}</th>
              <th>{{ totalShares }}</th>
              <th>100.00%</th>
              <th class="isk">{{ totalValue | iskFormat }}</th>
              <th></th>
            </tr>
          </tfoot>
        </table>
      </div>

    </div>

  </div>


  <script type="text/javascript" src="https://unpkg.com/vue@2.5.17/dist/vue.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/accounting@0.4.1/accounting.min.js"></script>
  <script type="text/javascript" src="bootstrap/js/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
  <!-- <script type="text/javascript" src="store.js"></script> -->
  <script type="text/javascript" src="lootsplitter.js"></script>

</body>

</html>
