<!DOCTYPE html>
<html>
  <head>
    <title>Loot Splitter</title>

    <!-- <link rel="shortcut icon" href="favicon.ico" /> -->
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bootflat/css/bootflat.min.css">
    <link rel="stylesheet" type="text/css" href="lootsplitter.css">

  </head>

  <body>

    <div id="splitterapp">
      fleet: {{ fleetRepr }}
      <br>
      newFleetMember: {{ newFleetMember }}
      <!-- <br>
      evepraisals: {{ evepraisalsRepr }} -->
      <br>
      newEvepraisal: {{ newEvepraisal }}
      <br>
      totalShares: {{ totalShares }}
      <br>
      buyPrice: {{ buyPrice }}
      <br>
      sellPrice: {{ sellPrice }}
      <br>
      avgPrice: {{ avgPrice }}
      <br>

      <hr>

      <h1>Loot Splitter</h1>

      <h2>Evepraisal Links</h2>
      big example link:
      <br>
      <input readonly value="http://evepraisal.com/e/11993877"></input>
      <br>
      small example link:
      <br>
      <input readonly value="http://evepraisal.com/e/12000787"></input>
      <br>
      <br>
      <input autofocus placeholder="http://evepraisal.com/e/xxxxxxxx" v-model="newEvepraisal" @keyup.enter="addEvepraisal">

      <table class="table">
        <thead>
          <tr>
            <th>Evepraisal Link</th>
            <th>Average Value</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="evepraisal in evepraisals">
            <td><button @click="removeEvepraisal(evepraisal)"> x </button> <a href="http://evepraisal.com/e/{{ evepraisal.id }}">http://evepraisal.com/e/{{ evepraisal.id }}</a></td>
            <td>{{ (evepraisal.totals.buy + evepraisal.totals.sell) / 2 | currency '' 2 }}</td>
          </tr>
        </tbody>
      </table>

      <h2>Fleet Members</h2>

      example names:
      <br>
      <textarea autofocus>Mussah Yacoub
Egon Big'Memes
Vega Onren
Reyni Allas-Rui
      </textarea>
      <br>
      <br>
      <textarea autofocus placeholder="Name of fleet member" v-model="newFleetMember" @keyup.enter="addFleetMember"></textarea>

      <table class="table">
        <thead>
          <tr>
            <th>Character</th>
            <th>Number of Shares</th>
            <th>Payout</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="fleetMember in fleet">
            <td><button @click="removeFleetMember(fleetMember)"> x </button> {{ fleetMember.name }}</td>
            <td>{{ fleetMember.shares }}</td>
            <td>{{ (avgPrice/totalShares)*fleetMember.shares | currency '' 2 }}</td>
          </tr>
        </tbody>
      </table>

      <!-- <ul>
        <li v-for="fleetMember in fleet">
          <div class="view">
            <label @dblclick="editFleetMember(fleetMember)">{{ fleetMember.name }} / Shares: {{ fleetMember.shares }} / Payout: {{ (avgPrice/totalShares)*fleetMember.shares | currency '' 2 }}</label>
            <button @click="removeFleetMember(fleetMember)">Remove</button>
          </div>
        </li>
      </ul> -->
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/0.9.3/vue-resource.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="store.js"></script> -->
    <script type="text/javascript" src="lootsplitter.js"></script>

  </body>
</html>
